In [1]:
from langchain_groq import ChatGroq
import os
from dotenv import load_dotenv
load_dotenv()

llm = ChatGroq(model_name="Llama3-8b-8192", temperature=0)

In [2]:
from langchain.utilities import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain

In [3]:
db_user = "root"
db_password = "root123"
db_host = "localhost"
db_name = "retail_sales_db"

db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}",sample_rows_in_table_info=3)

print(db.table_info)

CREATE TABLE sales_tb (
	`TransactionID` INTEGER,
	`Date` DATE,
	`CustomerID` VARCHAR(10),
	`Gender` VARCHAR(10),
	`Age` INTEGER,
	`ProductCategory` VARCHAR(50),
	`Quantity` INTEGER,
	`PriceperUnit` DECIMAL(10, 2),
	`TotalAmount` DECIMAL(10, 2)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from sales_tb table:
TransactionID	Date	CustomerID	Gender	Age	ProductCategory	Quantity	PriceperUnit	TotalAmount
1	2023-11-24	CUST001	Male	34	Beauty	3	50.00	150.00
2	2023-02-27	CUST002	Female	26	Clothing	2	500.00	1000.00
3	2023-01-13	CUST003	Male	50	Electronics	1	30.00	30.00
*/

In [6]:
from langchain.chains import create_sql_query_chain

chain = create_sql_query_chain(llm, db)
response = chain.invoke({"question":"How many customers are there"})
response

'Question: How many customers are there\nSQLQuery: SELECT COUNT(DISTINCT `CustomerID`) FROM `sales_tb`'

In [5]:
cleaned_query = response.strip('```sql\n').strip('\n```')
print(cleaned_query)

Question: How many customers are there
SQLQuery: SELECT COUNT(DISTINCT `CustomerID`) FROM `sales_tb

In [14]:
result = db.run(cleaned_query)
print(result)

[(29,)]